@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;   
}

html, body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
}


header{
    width: 80%;
    margin-top: -89px;
    background-color: #e1dfe2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    overflow: auto;
    position: fixed;
    font-size: 17;
}

.ZK {
    color: #a5a511;
    font-size: 2.4em;   
    text-decoration: none;
}
    
.logo{
    padding: 0px 8%;
    cursor: pointer;
}
.TECH{
    color: #15021b;
}




.menu ul li{
    display: inline-flex;
    padding: 0px 50px 5px;
    color: #fff;
    justify-content: space-between;
}

 header .menu .m li .AA{
     color: #15021b;
     text-decoration: none;
     font-size: 1.2em;
 }



 button {
    text-transform: lowercase;
    width: 98px;
    height: 33px;
    color: #fff;
    background-color: #15021b;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    font-family: sans-serif;
   
}

.sign-up{
    text-decoration: none;
    color: #fff;
}

.sign-up:hover{
    background-color: #a5a511;
    color: black;
}
button:hover{
    background-color: #a5a511;
}



/* html file left side menu */

.left-side-container{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 253px;
    margin-left: 0px;
    height: 630px;
    background-color: #fff;
    position: fixed;   
}



#left-side-menu{
    display: grid;
    text-decoration: none;
    padding: 6px 20px;
    font-size: 15px;
    font-family: Verdana, sans-serif;
    color: #15021b; 
}

.HTML_tutorial-p{ 
    font-family: Verdana, sans-serif;
    font-size: 23px;
    font-weight: 550;
    color: #15021b;
    padding: 20px 15px 0px;  
}

#left-side-menu:hover{
    background-color: #a5a511;
    width: 100%;
    height: 17px;
    border-radius: 3px;   
} 



/* sub-container is html container contained <h1> and <P> tag for tutorial */
.sub-container{
    background-color: #fff;
    width: 1150px;
    height: 800px;
    margin-left: 240px;
    margin-top: 89px;
    position: static;
}



.html-container, .html-document-container{
    margin-left: 50px;
}

.html-1{
    font-size: 2rem;
}
.sub-container, .p-container {
   text-decoration: none;
   justify-content: space-between;
   font-size: 1.5rem;
}

.p-container{
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 0.5px solid black;
}
   

.simple-html-document{

    padding: 50px 20px 30px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.html-document-container{
    background-color: rgb(221, 216, 216);
    width: 1050px;
    height: 400px;   
}

.indicate{
    margin-left: 300px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    margin: 15px 50px;
    text-align: center;
    font-size: 1.3rem;
}

.indicator{
    margin-left: 140px;
}

.example{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.html-document{
    width: 1000px;
    height: 300px;
    margin-left: 25px;
    background-color: #fff;
    display: flex;
}




.result, .xmpp{
    width: 500px;
}

.result{
    border-left: 1px solid #15021b;
}

xmp{
    color: red;
}
.xmp-html-code{
 text-align: center;
 font-size: 15px;
 padding-top: 15px;
}

figure{
    padding: 50px;
}




